// sass sass/style.scss css/style.css --watch
:root {
  font-size: 10px;
  font-weight: 400;
  color: #000000;
}

$acc-col: #203078;
$green: #2F9E31;

// some global settings

html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
}

h1 {
  font-size: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

.footer {
  height: 0;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  background-color: $acc-col;
}

.wrapper__content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 37.5rem;
  margin: 0 auto;
}
// ------------------------------- end global settings

// ------------------------------- start firstPage
// ------------------------------- start header
.header {
  &__wrapper {
    display: flex;
    padding: 1.1rem 1.4rem;
  }
  &__logo {
    margin-right: 1rem;
  }
  &__logo-img {
    max-width: 4.3rem;
    max-height: 4.3rem;
  }
  &__text {
    font-size: 1.1rem;
    line-height: 1.3rem;
    color: #9BACF5;
    max-width: 25rem;
    &--mod-fw {
      font-weight: 700;
    }
    &--mod-color {
      color: $green;
    }
  }
  &__text-img {
    padding-left: .2rem;
    transform: translateY(.2rem); 
  }
}
// ------------------------------- end header
// ------------------------------- start congrats
.congrats {
  &__date {
    display: flex;
    justify-content: center;
    background-color: #fff;
    padding: .3rem 0;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8.8rem 0;
  }
  &__date-text {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: $acc-col;
  }
  &__date-text--mod-color {
    color: $green;
  }
  &__title {
    margin-bottom: 5rem;
  }
  &__claim {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  &__text {
    max-width: 31rem;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-align: center;
    color: #9BACF5;    
    margin-bottom: 4rem;
  }
}
// ------------------------------- end congrats
// ------------------------------- start attempt
.attempt {  
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 4rem 3.5rem 4.5rem;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #fff;
  }
  &__descr {
    display: flex;
    justify-self: start;
    max-width: 30rem;
    border: 1px solid #C4C4C4;
    border-radius: 10px;
    padding: 0.6rem 0.7rem;
    &:not(:first-child) {
      margin-top: 2.2rem;
      margin-bottom: 4.5rem;
    }
  }
  &__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 2.9rem;
    height: 2.9rem;
    border-radius: 50%;
    background-color: $acc-col;
    margin-right: .7rem;
  }
  &__img {
    max-width: 1.75rem;
    transform: translateY(-2px);
  }
  &__text-box {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
  }
  &__text-title {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.6rem;    
    color: #000;
  }
  &__text {
    font-size: 1.4rem;
    line-height: 1.6rem;    
    color: #000;
  }
  &__btn {
    position: relative;
    align-self: center;
    min-width: 27.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    border-radius: 6px;
    text-align: center;
    background-color: $green;
  }
  &__btn-text {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: center;
    color: #FFFFFF;
  }
  &__btn-img {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%  );
  }
}
// ------------------------------- end attempt
// ------------------------------- end firstPage

// ------------------------------- start quizPage

.quiz {
  padding: 5rem 1rem;
  height: 100%;
  background-color: #fff;
  input {
    opacity: 0;
    cursor: pointer;
  }
  &__wrapper {
    text-align: center;
    position: relative;
  }
  &__question {
    display: block;
    max-width: 30rem;
    margin: 0 auto 6rem;
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #000000;
  }
  &__btn {
    display: block;
    margin: 0 auto;
    max-width: 25.9rem;
    width: 100%;
    height: 4.8rem;
    background-color: #EFEFEF;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: #000000;
    transition: all .2s;
    &:not(:last-child){
      margin-bottom: 2.2rem;
    }
    &:hover{
    background-color: #d3d3d3;
    }
    &:active {
      transform: translate(1px, 1px);
      box-shadow: inset 6px 6px 19px -16px rgba(0,0,0,0.42);
    }
  }
}

.steps {
  position: relative;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  max-width: 26.8rem;
  margin: 0 auto 7rem;
  &__num {
    position: absolute;
    flex-shrink: 0;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: linear-gradient(180deg, 
    #0D9BEA 0%, #E2E2E2 0.01%, #BDBDBD 100%);
    border: 1px solid #CACACA;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.9rem;
    text-align: center;
    color: #FFFFFF;
    transition: all .3s;
    z-index: 3;
    &.active {
      background: linear-gradient(180deg, #0D9BEA 0%, #0568D4 100%);
      border: 1px solid #1C639B;
    }
    &--1{
      top: 0;
      left: 0;
    }
    &--2{
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &--3{
      top: 0;
      left: 100%;
      transform: translateX(-100%);
    }
  }
  &__line {
    align-self: center;
    width: 100%;
    height: 4px;
    background-color: #cecece;
    z-index: 1;
    &--bar {
      position: absolute;
      top: 50%;
      left: 0;
      max-width: 48%;
      transform: translateY(-50%);
      height: 4px;
      background: linear-gradient(180deg, #0D9BEA 0%, #0568D4 100%);
      z-index: 2;
      transition: all .4s;
    }
  }
  #step1{
    width: 0%;
  }
  #step2{
    left: 47%;
    width: 0%;
  }
}

// ------------------------------- end quizPage

// ------------------------------- start callPage

.call {
  max-height: 75rem;
  padding-top: 7.5rem;
  padding-bottom: 8rem;
  background-color: #fff;
  overflow: hidden;
  &__wrapper {
    text-align: center;
    color: #000;
  }
  &__title {
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 2.9rem;
    text-transform: uppercase;
    color: $green;
    margin-bottom: 3.8rem;
  }
  &__sub-text {
    font-weight: 700;
    max-width: 21rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: $green;
    margin: 0 auto 3.5rem;
  }
  &__text {
    font-size: 1.6rem;
    line-height: 1.9rem;
    max-width: 28rem;
    margin: 0 auto 3rem;
  }
  &__message {
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 2.8rem;
    text-transform: uppercase;
    max-width: 27rem;
    margin: 0 auto 4rem;
  }
  &__counter {
    font-size: 1.2rem;
    line-height: 1.4rem;
    color: #B81B1E;
    margin-bottom: 4rem;
  }
  &__disclaimer {
    max-width: 30rem;
    background-color: #FFFDF2;
    border: 1px solid #F8D259;
    border-radius: 10px;
    padding: .8rem 1.3rem 1rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin: 0 auto 4.5rem;
  }
  &__disclaimer-text--mod {
    font-weight: 500;
    margin-bottom: 0.7rem;
  }
  &__btn {
    display: flex;
    align-items: center;
    margin: 0 auto 5.8rem;
    padding-left: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    height: 7.1rem;
    width: 24.5rem;
  }
  &__btn-img {
    margin-right: 2.74rem;
  }
  &__btn-text {
    text-align: left;
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 0.05em;
    color: #fff;
  }
  &__footer {
    font-size: .9rem;
    line-height: 1.4rem;
    text-align: center;
    letter-spacing: .5rem;
    max-width: 29.4rem;
    margin: 0 auto;
    color: #787878;
  }
}
// ------------------------------- end callPage




// ------------------------------- start header
// ------------------------------- end header